.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green{
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
}
.greenselected{
  box-shadow: rgb(255, 255, 255, 0.7) 0px 0px 20px;
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}
.red{
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}
.redselected{
  box-shadow: rgb(255, 255, 255, 0.7) 0px 0px 20px;
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}
.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.yellowselected{
  box-shadow: rgb(255, 255, 255, 0.7) 0px 0px 20px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}
.palito{
  height: 50px;
  width: 10px;
  background: black;
  margin: 0 auto;
  padding: 10px;
  
}
.bodysemaforo{
  width: 150px;
  height: 130px;
  background-color: black;
  margin: 0 auto;
  padding: 15px;
}
